*{
	box-sizing: border-box;
/*	padding wont add to width*/
}

html{
	margin:0;
	padding:0;
}

body{
	background-color: black;
}

.background {
	background-image: url("../img/studio.jpg");
	background-size: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: blur 60s;
	animation-fill-mode: forwards;
	z-index: -5;
}

.sweat{

	background-image: url("../img/sweat.png");
	position: fixed;
	top:0;
	left:0;
	right: 0;
	bottom: 50px;
	padding: 0;
	margin: 0;
	animation: sweating 20s;
	animation-fill-mode: both;
	z-index: 1000;
}

h1{
	font-family: "brandon Grotesque", "univers", helvetica, sans-serif ;
	font-weight: lighter;
	color: white;
	padding-top: 300px;
	text-decoration: none;
}

.steps{background-color: white;}

.steps4{
	width: 150px;
	height: 300px;
	margin: 50px auto;
	top: 50px;
}

.buttons {
	/*the wrapper of the button class*/

	position: fixed;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2000;

}

.button{
	background-color: white;
	display: inline-block;
}

.wf{
	width: 39px;
	height: 39px;
	background-color: white;
	padding: 0;
	margin-bottom: -5px;
	
}

.t{
	width: 39px;
	height: 19.5px;
	margin-left: 46px;
	margin-bottom: 15px;
}

.h{
	width: 39px;
	height: 19.5px;
	margin-left: 46px;
	margin-bottom: -4px;
}

.wa{
	width: 19.5px;
	height: 39px;
	margin-left: 46px;
	margin-bottom: -4px;
}

.ta{
	width: 19.5px;
	height: 19.5px;
	margin-bottom: 15px;
	margin-left: 46px;
	
}

.ha{
	width: 19.5px;
	height: 19.5px;
	margin-left: 46px;
	margin-bottom: -5px;
}

.key{
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2000;

}

.text1, .text2, .text3, .text4, .text5, .text6{
	color: white;
	font-family: 'brandon Grotesque';
	font-size: 16px;
	font-weight: lighter;
	width: 80px;
	height: 39px;

}

.key1, .key2, .key3, .key4, .key5, .key6{
	background-color: white;
}

.key1{
	width: 39px;
	height: 39px;
}

.text1{
	margin-top: -20px;
	margin-left: 45px; 
}

.key2{
	width: 39px;
	height: 19.5px;
	margin-top: -59px;
	margin-left: 125px;
}

.text2{
	margin-top: 0px;
	margin-left: 170px;
}

.key3{
	width: 39px;
	height: 19.5px;
	margin-top: -38px;
	margin-left: 200px;
}

.text3{
	margin-top: -18px;
	margin-left: 250px;
}

.key4{
	width: 19.5px;
	height: 39px;
	margin-top: -60px;
	margin-left: 290px;
}

.text4{
	width: 116px;
	margin-top: -20px;
	margin-left: 315px;
}

.key5{
	width: 19.5px;
	height: 19.5px;
	margin-top: -58px;
	margin-left: 440px;
}

.text5{
	width: 116px;
	margin-top: 0;
	margin-left: 470px;
}

.key6{
	width: 19.5px;
	height: 19.5px;
	margin-top: -39px;
	margin-left: 555px;
}

.text6{
	width: 116px;
	margin-top: -20px;
	margin-left: 580px;
}


/*.someDiv {
  background-color: black;
  width: 200px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -100px;
  animation: pulse 2s;
  animation-fill-mode: forwards;
}*/

@keyframes sweating {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes blur {
	0% {
		filter: blur(1px);
	}
	25% {
		filter: blur(2px);
	}
	50% {
		filter: blur(3px);
	}
	75% {
		filter: blur(4px);
	}
	100% {
		filter: blur(5px);
	}
}







