.button{
    width:200px;
    height:200px;
    border-radius:500px;
    background-color: #ffffcc;
    position: relative;
    background-image: url(comp_2_2.html)
}

.button2{
    width:400px;
    height:400px;
    left: 400px;
    background-color: #F7CAC9;
    position: absolute
}

.button3{
    background-color: #c1b2b6;
    top:300px;
    left: 150px;
}

.button4{
    background-color: #63888E;
    width: 20px;
    height: 20px;
    left: 850px;
    bottom: 200px;
    background-size: 190.45%;
}

.button5{
    background-color: #89ABE3;
    width: 85px;
    height: 85px;
    bottom: 400px;
    left: 375px;
}

.button6{
    background-color: #e6dbff;
    bottom: 275px;
    left: 315px;
    
}

.button7{
    width:250px;
    height:250px;
    background-color: #D4B9D1;
    bottom: 300px;
    left: 900px;
    
}
/* mouse over link */
.button:hover {

    background-image: url(no_button.png);
    background-position: -400px, 0px

}

.button1:hover{
    background-position: -500px, 0px;
}
.button3:hover{
    background-position: -500px, 0px;
}
.button4{
    background-position: -700px;
}
.button5:hover{
    background-position: -555px, 0px;
    
}
.button6:hover{
    background-position: -500px;
}
.button7:hover{
    background-position: -475px;
}