body{
    background-color: black;
}
.square{
    height: 200px;
    width: 200px;
    left: 200px;
    top: 50px;
    background-color: black;
    position: static;
    margin: 50px;
    font-family: helvetica;
    font-style: italic;
    font-size: 20px;
    line-height: 190px;
    color: black;
    text-align: center;
}
.square:hover {
    animation-name: turn;
    animation-duration: 2s;
    animation-iteration-count: 10;
    transition: all 2s;
    
}

.square1{
    left: 200px;
    
}
.square1:hover{
    background-color: white; 
    
}

.square2:hover{
    background-color: white;
    left: 200px;
}

.square3:hover{
    background-color: white;
}
.square4{
    background-color: black;
    color: black;
    font-family: "aleo";
    text-decoration: none;
    
}
.square4:hover{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #F7CAC9;
    animation: none;
    text-align: CENTER;
    line-height: 300px;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
@keyframes turn{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(45deg);
        
    }
    100%{
        transform: rotate(0deg);
        
    }
} 

