p{
    font-family: Helvetica;
    font-size: 16px;
    text-decoration: none
    
}
    .special{
        font-family: helvetica;
}

    #first{
        font-family: helvetica;
        font-size: 22px;
         text-decoration: none
    
    }