*{
		vertical-align: top;

}
body{
	font-family: helvetica;
	background-color: blue;
	color: white;
	line-height: 20px;
	margin: 0;
	
}

header{
	color: white;

}

h1{
	font-style: italic;
	font-weight: normal;

}

h2{
	font-weight: normal;

}

a{
	color: white;
	text-decoration: none;

}

a:hover {
	color: #ffff00;
	background-color: red;
}

.wrapper{
	width: 960px;
	background: #f1f1f1;
	margin: 0 auto;
}

.studio, .lab{
	width: 400px;
	display: inline-block;
	line-height: 20px;

}

.c{
	background: #ff0;
	font-size: ;
}
.c1, .c2, .c3, .c4, .c5, .c6{
	font-size: 16px;
	line-height: 20px;
	margin: 0 15px 30px 15px;
	color: black;
	display: inline-block;

}

.c1{width: 130px;}

.c2{width: 290px;}

.c3{width: 450px;}

.c4{width: 610px;}

.c5{width: 770px;}

.c6{width: 930px;}












