.wrapper{
	width: 200px;
	height: 200px;
  position: relative;
  margin: 8px;
  display: inline-block;
}

/*THIS IS THE LETTER G*/

.G1{
  position: relative;
  bottom: 230px;
  left: 500px;
}

.gouter {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  margin: 20px;
  
}
.ginner {
  width: 194px;
  height: 194px;
  border-radius: 100%;
  background-color: #A1D3F8;
  position: absolute;
  left: 5px;
  
}

.gmask {
  position: absolute;
  top:-10px;
  right: 0px;
  background-color: #A1D3F8;
  width: 100px;
  height: 130px;
  border-bottom: 3px solid white;
}


.gouter2 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
  position: relative;
    margin: 20px;

}
.ginner2 {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  left: 25px;
  top: 0px;
  
}

.gmask2 {
  position: absolute;
  top:-10px;
  right: 0px;
  background-color: white;
  width: 100px;
  height: 130px;
  border-bottom: 5px solid black
}

.gouter3 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
  position: relative;
    margin: 20px;

}
.ginner3 {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  left: 35px;
  top: 10px;
  
}

.gmask3 {
  position: absolute;
  top:-10px;
  right: 0px;
  background-color: white;
  width: 100px;
  height: 130px;
  border-bottom: 10px solid black
}

.gouter4 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
  position: relative;
    margin: 20px;

}
.ginner4 {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  left: 35px;
  top: 25px;
  
}

.gmask4 {
  position: absolute;
  top:-10px;
  right: 0px;
  background-color: white;
  width: 90px;
  height: 130px;
  border-bottom: 15px solid black
}

/*THIS IS THE LETTER O*/

.O1{
  position: relative;
  left: -40px;
}

.Oouter{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: white;
  position: relative;
  margin: 20px;
  z-index: 5;
}

.Oinner{
  width: 195px;
  height: 195px;
  border-radius: 100%;
  background-color: #A1D3F8;
  position: relative;
  left: 3px;
  top: 3px;
 
}

.Oouter2{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #FBEA8A;
  border: white 7px solid;
  position: relative;
  margin: 20px;
  left: 770px;
  bottom: 235px;
  z-index: 5;
  margin-top: 110px;

}

.Oouter3{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
  position: relative;
  margin: 20px;
}

.Oinner3{
  width: 175px;
  height: 175px;
  border-radius: 100%;
  background-color: white;
  position: relative;
  left: 13px;
  top: 13px;
 
}

.Oouter4{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: white;
  position: relative;
  margin: 20px;
  right: 190px;
  bottom: 10px;
}

.Oinner4{
  width: 165px;
  height: 165px;
  border-radius: 100%;
  background-color: #040A23;
  position: relative;
  left: 17px;
  top: 17px;
 
}

/*THIS IS THE LETTER Q*/

.Qouter{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
  position: relative;
  margin: 20px;
}

.Qinner{
  width: 195px;
  height: 195px;
  border-radius: 100%;
  background-color: white;
  position: relative;
  left: 3px;
  top: 3px;
 }

 .Qtail{
 	width: 2px;
 	height: 45px;
 	background: black;
 	transform: rotate(-45deg);
 	position: absolute;
 	left: 180px;
 	top: 150px;
 }


.Qouter2{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
  position: relative;
  margin: 20px;
}

.Qinner2{
  width: 185px;
  height: 185px;
  border-radius: 100%;
  background-color: white;
  position: relative;
  left: 7px;
  top: 7px;
 
}

 .Qtail2{
 	width: 6px;
 	height: 60px;
 	background: black;
 	transform: rotate(-45deg);
 	position: absolute;
 	left: 180px;
 	top: 140px;
 }

.Qouter3{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
  position: relative;
  margin: 20px;
}

.Qinner3{
  width: 175px;
  height: 175px;
  border-radius: 100%;
  background-color: white;
  position: relative;
  left: 13px;
  top: 13px;
}

.Qtail3{
 	width: 8px;
 	height: 60px;
 	background: black;
 	transform: rotate(-45deg);
 	position: absolute;
 	left: 180px;
 	top: 130px;
 }

.Qouter4{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: white;
  position: relative;
  margin: 20px;
  top: 170px;
  right: 10px;
}

.Qinner4{
  width: 165px;
  height: 165px;
  border-radius: 100%;
  background-color: #040A23;
  position: relative;
  left: 17px;
  top: 17px;
}

.Qtail4{
 	width: 12px;
 	height: 70px;
 	background: white;
 	transform: rotate(-45deg);
 	position: absolute;
 	left: 180px;
 	top: 130px;
 }

 /*THIS IS THE LETTER B*/

.btop{
	height: 90px;
	width: 90px;
	border-radius: 100%;
	background: #fff;
	border: white
   solid;
}

.bbottom{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background: #fff;
	border: white
   solid;
}

.bmask{
	height: 202px;
	width: 50px;
	background: #fff;
	border-right: 3px white
   solid;
  position: relative;
	top: -202px;
}

.btop2{
	height: 85px;
	width: 85px;
	border-radius: 100%;
	background: #fff;
	border: white
   5px solid;
  position: relative;
}

.bbottom2{
	height: 95px;
	width: 95px;
	border-radius: 100%;
	background: #fff;
	border: white
   5px solid;

}

.bmask2{
	height: 200px;
	width: 50px;
	background: #fff;
	border-right: 5px white
   solid;
	position: relative;
	top: -200px;
}

.btop3{
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background: #fff;
  border: white
   7px solid;
  position: relative;
}

.bbottom3{
  height: 91px;
  width: 91px;
  border-radius: 100%;
  background: #fff;
  border: white
   7px solid;

}

.bmask3{
  height: 200px;
  width: 50px;
  background: #fff;
  border-right: 7px white
   solid;
  position: relative;
  top: -199px;
}

.btop4{
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background: #fff;
  border: white
   10px solid;
  position: relative;
}

.bbottom4{
  height: 85px;
  width: 85px;
  border-radius: 100%;
  background: #fff;
  border: white
   10px solid;

}

.bmask4{
  height: 200px;
  width: 50px;
  background: #fff;
  border-right: 10px white
   solid;
  position: relative;
  top: -200px;
}

/*THIS IS THE LETTER C*/

.Cinner{
  width: 195px;
  height: 195px;
  border-radius: 100%;
  background: white;
  position: relative;
  border: white
   solid;
}

.Cmask{
  height: 100px;
  width: 30px;
  background: white;
  position: absolute;
  top: 55px;
  left: 171px;
}

.Cinner2{
  width: 155px;
  height: 155px;
  border-radius: 100%;
  background: #FBEA8A;
  position: relative;
  border: 7px white solid;
  bottom: 220px;
  left: 210px;
  margin-top: 100px;
}

.Cmask2{
  height: 100px;
  width: 35px;
  background: #FBEA8A;
  position: absolute;
  bottom: 195px;
  left: 335px;
}

.Cinner3{
  width: 189px;
  height: 189px;
  border-radius: 100%;
  background: white;
  position: relative;
  border: 9px white
   solid;
}

.Cmask3{
  height: 100px;
  width: 35px;
  background: white;
  position: absolute;
  top: 55px;
  left: 172px;
}

.Cinner4{
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background: #040A23;
  position: absolute;
  border: 13px white solid;
  right: 190px;
  top: 200px;
}

.Cmask4{
  height: 100px;
  width: 35px;
  background: #040A23;
  position: absolute;
  top: 245px;
  right: 190px;
}

/*THIS IS THE LETTER R */

.Rtop{
  height: 100px;
  width: 100px;
  background:  #A1D3F8;
  border: white solid;
  border-radius: 100%;
  position: relative;
  z-index: 0;
  right: -5px;
  left: -40px;
}

.Rbottom{
  height: 150px;
  width: 150px;
  background:  #A1D3F8;
  border-radius: 100%;
  border: white solid;
  margin: 0;
  position: relative;
  left: -70px;

}

.Rmaskleft{
  height: 210px;
  width: 80px;
  background:  #A1D3F8;
  border-right: white solid;
  position: relative;
  top: -250px;
  left: -70px;
}

.Rmaskbottom{
  height: 80px;
  width: 250px;
  background:  #A1D3F8;
  position: relative;
  top: -280px;
  left: -80px;
}

.Rtop2{
  height: 65px;
  width: 65px;
  background: #FBEA8A;
  border: 7px white solid;
  border-radius: 100%;
  position: relative;
  left: 720px;
  bottom: 220px;
  margin-top: 100px;
}

.Rbottom2{
  height: 115px;
  width: 115px;
  background: #FBEA8A;
  border-radius: 100%;
  border: 7px white solid;
  margin: 0;
  position: relative;
  left: 700px;
  bottom: 220px;
}

.Rmaskleft2{
  height: 150px;
  width: 80px;
  background: #FBEA8A;
  border-right: 7px white solid;
  position: relative;
  bottom: 400px;
  left: 670px;
  z-index: 2
}

.Rmaskbottom2{
  height: 90px;
  width: 150px;
  background: #FBEA8A;
  position: relative;
  left: 700px;
  bottom: 400px
}


.Rtop3{
  height: 98px;
  width: 98px;
  background: white;
  border: 10px white
   solid;
  border-radius: 100%;
}

.Rbottom3{
  height: 145px;
  width: 145px;
  background: white;
  border-radius: 100%;
  border: 10px white
   solid;
  margin: 0;
  position: relative;
  left: -30px;
}

.Rmaskleft3{
  height: 210px;
  width: 80px;
  background: white;
  border-right: 10px white
   solid;
  position: relative;
  top: -283px;
  left: -30px;
}

.Rmaskbottom3{
  height: 80px;
  width: 250px;
  background: white;
  position: relative;
  top: -295px;
  left: -40px;
}

.Rtop4{
  height: 98px;
  width: 98px;
  background: white;
  border: 12px white
   solid;
  border-radius: 100%;
}

.Rbottom4{
  height: 145px;
  width: 145px;
  background: white;
  border-radius: 100%;
  border: 12px white
   solid;
  margin: 0;
  position: relative;
  left: -30px;
}

.Rmaskleft4{
  height: 210px;
  width: 80px;
  background: white;
  border-right: 12px white
   solid;
  position: relative;
  top: -291px;
  left: -30px;
}

.Rmaskbottom4{
  height: 90px;
  width: 250px;
  background: white;
  position: relative;
  top: -300px;
  left: -40px;
}

/*THIS IS THE LETTER T*/

.Ttop{
  width: 200px;
  height: 3px;
  background: white
  ;
}

.Tmiddle{
  width: 3px;
  height: 199px;
  background: white
  ;
  position: relative;
  left: 100px;
}

.Ttop2{
  width: 150px;
  height: 7px;
  background: white;
  margin-top: 100px;
}

.Tmiddle2{
  width: 7px;
  height: 150px;
  background: white;
  position: relative;
  left: 75px;


}

.Ttop3{
  width: 200px;
  height: 10px;
  background: white
  ;
}

.Tmiddle3{
  width: 10px;
  height: 189px;
  background: white
  ;
  position: relative;
  left: 100px;
}

.Ttop4{
  width: 200px;
  height: 12px;
  background: white
  ;
}

.Tmiddle4{
  width: 12px;
  height: 187px;
  background: white
  ;
  position: relative;
  left: 100px;
}

/*THIS IS THE LETTER I*/

.I{
  width: 3px;
  height: 200px;
  background: white;
  position: relative;
  left: -135px;
}

.I2{
  width: 7px;
  height: 150px;
  background: white;
  position: relative;
  left: 10px;
  margin-top: 100px;
}

.I3{
  width: 10px;
  height: 200px;
  background: white;
  position: relative;
  left: 100px;
}

.I4{
  width: 12px;
  height: 180px;
  background: white;
  position: relative;
  left: 0px;
  top: 200px;
}

/*THIS IS THE LETTER L*/

.Lside{
  width: 3px;
  height: 200px;
  background: white
  ;
}

.Lbottom{
  width: 200px;
  height: 3px;
  background: white
  ;
}

.Lside2{
  width: 7px;
  height: 150px;
  background: white;
  position: relative;
  right: 365px;
  margin-top: 100px;
}

.Lbottom2{
  width: 150px;
  height: 7px;
  background: white;
  position: relative;
  right: 365px;
}

.Lside3{
  width: 10px;
  height: 190px;
  background: white
  ;
}

.Lbottom3{
  width: 200px;
  height: 10px;
  background: white
  ;
  position: relative;
}

.Lside4{
  width: 12px;
  height: 188px;
  background: white
  ;
}

.Lbottom4{
  width: 200px;
  height: 12px;
  background: white
  ;
}

/*THIS IS THE LETTER A*/

.Aslantleft{
  width: 3px;
  height: 220px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  top: -11px;
}

.Aslantright{
  width: 3px;
  height: 220px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  top: -230px;
}

.Across{
  width: 114px;
  height: 3px;
  background: white
  ;
  position: relative;
  top: -330px;
  left: 45px;
}

.Aslantleft2{
  width: 7px;
  height: 220px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  top: -11px;
}

.Aslantright2{
  width: 7px;
  height: 220px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  top: -230px;
}

.Across2{
  width: 114px;
  height: 7px;
  background: white
  ;
  position: relative;
  top: -330px;
  left: 45px;
}

.Aslantleft3{
  width: 10px;
  height: 220px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  top: -11px;
}

.Aslantright3{
  width: 10px;
  height: 220px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  top: -230px;
}

.Across3{
  width: 114px;
  height: 10px;
  background: white;
  position: relative;
  top: -330px;
  left: 45px;
}

.Aslantleft4{
  width: 12px;
  height: 220px;
  transform: rotate(27deg);
  background: white;
  position: absolute;
  bottom: -200px;
}

.Aslantright4{
  width: 12px;
  height: 220px;
  transform: rotate(-27deg);
  background: white;
  position: absolute;
  top: 180px;
  left: 95px;
}

.Across4{
  width: 114px;
  height: 12px;
  background: white;
  position: absolute;
  top: 300px;

}

/*THIS IS THE LETTER D*/

.Dcircle{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: #fff solid;
  background:  #A1D3F8;
}

.Dmask{
  width: 100px;
  height: 200px;
  background:  #A1D3F8;
  border-right: #fff solid;
  position: relative;
  top: -200px;
}

.Dcircle2{
  width: 193px;
  height: 193px;
  border-radius: 100%;
  border: 7px white
   solid;
  background: white;
}

.Dmask2{
  width: 95px;
  height: 207px;
  background: white;
  border-right: 7px white
   solid;
  position: relative;
  top: -207px;
}

.Dcircle3{
  width: 197px;
  height: 197px;
  border-radius: 100%;
  border: 10px white solid;
  background:  #F37000;
}

.Dmask3{
  width: 90px;
  height: 200px;
  background:  #F37000;
  border-right: 10px white
   solid;
  position: relative;
  top: -200px;
}

.Dcircle4{
  width: 182px;
  height: 182px;
  border-radius: 100%;
  border: 12px white solid;
  background: #040A23;
}

.Dmask4{
  width: 88px;
  height: 206px;
  background: #040A23;
  border-right: 12px white solid;
  position: relative;
  top: -206px;
}

/*THIS IS THE LETTER F*/

.Fside{
  width: 5px;
  height: 200px;
  background: white
  ;
}

.Ftop{
  width: 200px;
  height: 5px;
  background: white
  ;
  position: relative;
  top:-200px;
}

.Fcross{
  width: 100px;
  height: 5px;
  background: white
  ;
  position: relative;
  top:-100px;
}

.Fside2{
  width: 7px;
  height: 150px;
  background: white;
  position: relative;
  right: 250px;
  margin-top: 100px;
}

.Ftop2{
  width: 150px;
  height: 7px;
  background: white;
  position: relative;
  top:-150px;
  right: 250px;
}

.Fcross2{
  width: 50px;
  height: 7px;
  background: white;
  position: relative;
  top:-75px;
  right: 250px;
}

.Fside3{
  width: 10px;
  height: 200px;
  background: white
  ;
}

.Ftop3{
  width: 200px;
  height: 10px;
  background: white
  ;
  position: relative;
  top:-200px;
}

.Fcross3{
  width: 100px;
  height: 10px;
  background: white
  ;
  position: relative;
  top:-100px;
}

.Fside4{
  width: 12px;
  height: 200px;
  background: white
  ;
}

.Ftop4{
  width: 200px;
  height: 12px;
  background: white
  ;
  position: relative;
  top:-200px;
}

.Fcross4{
  width: 100px;
  height: 12px;
  background: white
  ;
  position: relative;
  top:-100px;
}

/*THIS IS THE LETTER E*/

.Eside{
  width: 5px;
  height: 200px;
  background: white
  ;
}

.Etop{
  width: 200px;
  height: 5px;
  background: white
  ;
  position: relative;
  top:-200px;
}

.Ecross{
  width: 100px;
  height: 5px;
  background: white
  ;
  position: relative;
  top:-100px;
}

.Ebottom{
  width: 200px;
  height: 5px;
  background: white
  ;
  position: relative;
  top: -15px;
}

.Eside2{
  width: 7px;
  height: 150px;
  background: white;
  position: relative;
  right: 200px;
  margin-top: 100px;
}

.Etop2{
  width: 100px;
  height: 7px;
  background: white;
  position: relative;
  top:-150px;
  right: 200px
}

.Ecross2{
  width: 50px;
  height: 7px;
  background: white;
  position: relative;
  top:-75px;
  right: 200px;
}

.Ebottom2{
  width: 100px;
  height: 7px;
  background: white;
  position: relative;
  top: -20px;
  right: 200px;
}

.Eside3{
  width: 10px;
  height: 200px;
  background: white
  ;
}

.Etop3{
  width: 200px;
  height: 10px;
  background: white
  ;
  position: relative;
  top:-200px;
}

.Ecross3{
  width: 100px;
  height: 10px;
  background: white
  ;
  position: relative;
  top:-100px;
}

.Ebottom3{
  width: 200px;
  height: 10px;
  background: white
  ;
  position: relative;
  top: -30px;
}

.Eside4{
  width: 12px;
  height: 200px;
  background: white;
  position: relative;
  bottom: 220px;
  left: 450px;
}

.Etop4{
  width: 200px;
  height: 12px;
  background: white;
  position: absolute;
  top:-230px;
  left: 450px;
}

.Ecross4{
  width: 100px;
  height: 12px;
  background: white;
  position: relative;
  top:-320px;
  left: 450px;
}

.Ebottom4{
  width: 200px;
  height: 12px;
  background: white;
  position: relative;
  top: -240px;
  left: 450px;
}

/*THIS IS THE LETTER H*/

.Hleft{
  width: 5px;
  height: 200px;
  background: white
  ;
}

.Hright{
  width: 5px;
  height: 200px;
  background: white
  ;
  position: relative;
  left: 195px;
  top: -200px;
}

.Hcross{
  width: 200px;
  height: 5px;
  background: white;
  position: relative;
  top: -300px;
}

.Hleft2{
  width: 7px;
  height: 150px;
  background: white;
  position: relative;
  bottom: 220px;
  left: 170px;
  margin-top: 100px;
}

.Hright2{
  width: 7px;
  height: 150px;
  background: white;
  position: relative;
  left: 320px;
  bottom: 370px;
}

.Hcross2{
  width: 150px;
  height: 7px;
  background: white;
  position: relative;
  bottom: 450px;
  left: 175px;
}

.Hleft3{
  width: 10px;
  height: 200px;
  background: white
  ;
}

.Hright3{
  width: 10px;
  height: 200px;
  background: white
  ;
  position: relative;
  left: 190px;
  top: -200px;
}

.Hcross3{
  width: 200px;
  height: 10px;
  background: white
  ;
  position: relative;
  top: -300px;
}

.Hleft4{
  width: 12px;
  height: 200px;
  background: white
  ;
}

.Hright4{
  width: 12px;
  height: 200px;
  background: white
  ;
  position: relative;
  left: 188px;
  top: -200px;
}

.Hcross4{
  width: 200px;
  height: 12px;
  background: white
  ;
  position: relative;
  top: -300px;
}

/*THIS IS THE LETTER P*/

.Ptop{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: white
   solid;
  background: white;
}
.Pmask{
  height: 200px;
  width: 50px;
  border-right: white
   solid;
  background: white;
  position: relative;
  top: -106px;
}

.Ptop2{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 7px white
   solid;
  background: white;
}
.Pmask2{
  height: 200px;
  width: 50px;
  border-right: 7px white
   solid;
  background: white;
  position: relative;
  top: -114px;
}

.Ptop3{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px white
   solid;
  background: white;
}
.Pmask3{
  height: 200px;
  width: 50px;
  border-right: 10px white
   solid;
  background: white;
  position: relative;
  top: -120px;
}

.Ptop4{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 12px white
   solid;
  background: white;
}
.Pmask4{
  height: 200px;
  width: 50px;
  border-right: 12px white
   solid;
  background: white;
  position: relative;
  top: -124px;
}

/*THIS IS THE LETTER J*/

.Jleg{
  height: 150px;
  width: 5px;
  background: white
  ;
  position: relative;
  left: 195px;
}

.Jcircle{
  height: 100px;
  width: 100px;
  background: white;
  border: 5px white
   solid;
  border-radius: 100%;
  position: relative;
  left: 90px;
  bottom: 55px;
}

.Jmask{
  height: 60px;
  width: 105px;
  background: white;
  position: relative;
  bottom: 165px;
  left: 90px;
}

.Jleg2{
  height: 150px;
  width: 7px;
  background: white
  ;
  position: relative;
  left: 193px;
}

.Jcircle2{
  height: 100px;
  width: 100px;
  background: white;
  border: 7px white
   solid;
  border-radius: 100%;
  position: relative;
  left: 86px;
  bottom: 66px;
}

.Jmask2{
  height: 75px;
  width: 110px;
  background: white;
  position: relative;
  bottom: 190px;
  left: 83px;
}

.Jleg3{
  height: 150px;
  width: 10px;
  background: white
  ;
  position: relative;
  left: 190px;
}

.Jcircle3{
  height: 100px;
  width: 100px;
  background: white;
  border: 10px white
   solid;
  border-radius: 100%;
  position: relative;
  left: 80px;
  bottom: 70px;
}

.Jmask3{
  height: 71px;
  width: 110px;
  background: white;
  position: relative;
  bottom: 191px;
  left: 80px;
}

.Jleg4{
  height: 150px;
  width: 12px;
  background: white;
  position: absolute;
  left: 100px;
  top: 0;
  margin-top: 10px;
}

.Jcircle4{
  height: 100px;
  width: 100px;
  background: #040A23;
  border: 12px white solid;
  border-radius: 100%;
  position: absolute;
  left: 15px;
  top: 90px;
}

.Jmask4{
  height: 80px;
  width: 100px;
  background: #040A23;
  position: absolute;
  top: 50px; 
  left: 0px;
}

/*THIS IS THE LETTER U*/

.Ucircle{
  width: 196px;
  height: 196px;
  border-radius: 100%;
  border: white
   solid;
  background: white;
}

.Umask{
  width: 196px;
  height: 100px;
  border-left: white solid;
  border-right: white solid;
  position: relative;
  bottom: 205px;
  background: white;
}

.Ucircle2{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 7px white solid;
  background: #FBEA8A;
  position: relative;
  top: 10px;
  right: 420px;
  margin-top: 100px;

}

.Umask2{
  width: 150px;
  height: 80px;
  border-left: 7px white solid;
  border-right: 7px white solid;
  position: relative;
  bottom: 150px;
  right: 420px;
  background: #FBEA8A;

}

.Ucircle3{
  width: 185px;
  height: 185px;
  border-radius: 100%;
  border: 10px white
   solid;
  background: white;
}

.Umask3{
  width: 185px;
  height: 100px;
  border-left: 10px white solid;
  border-right: 10px white solid;
  position: relative;
  bottom: 205px;
  background: white;
}

.Ucircle4{
  width: 180px;
  height: 180px;
  border-radius: 100%;
  border: 12px white solid;
  background: #040A23;
  position: absolute;
  top: 195px;
  margin: 5px;
}

.Umask4{
  width: 180px;
  height: 90px;
  border-left: 12px white solid;
  border-right: 12px white solid;
  position: absolute;
  top: 195px;
  margin: 5px;
  background: #040A23;
}

/*THIS IS THE LETTER V*/

.Vleft{
  width: 5px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  bottom: 5px;
}

.Vright{
  width: 5px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  bottom: 220px;
}

.Vleft2{
  width: 7px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  bottom: 5px;
}

.Vright2{
  width: 7px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  bottom: 220px;
}

.Vleft3{
  width: 10px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  bottom: 5px;
}

.Vright3{
  width: 10px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  bottom: 220px;
}

.Vleft4{
  width: 12px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  bottom: 5px;
}

.Vright4{
  width: 12px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  bottom: 220px;
}

/*THIS IS THE LETTER W*/

.Wleft1{
  width: 5px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  bottom: 5px;
}

.Wright1{
  width: 5px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  bottom: 220px;
}

.Wleft2{
  width: 5px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 245px;
  bottom: 435px;
}

.Wright2{
  width: 5px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 340px;
  bottom:650px;
}


.Wleft12{
  width: 7px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  bottom: 5px;
}

.Wright12{
  width: 7px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  bottom: 220px;
}

.Wleft22{
  width: 7px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 245px;
  bottom: 435px;
}

.Wright22{
  width: 7px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 340px;
  bottom:650px;
}

.Wleft13{
  width: 10px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  bottom: 5px;
}

.Wright13{
  width: 10px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  bottom: 220px;
}

.Wleft23{
  width: 10px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 245px;
  bottom: 435px;
}

.Wright23{
  width: 10px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 340px;
  bottom:650px;
}

.Wleft14{
  width: 12px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 50px;
  bottom: 5px;
}

.Wright14{
  width: 12px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 150px;
  bottom: 220px;
}

.Wleft24{
  width: 12px;
  height: 215px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 245px;
  bottom: 435px;
}

.Wright24{
  width: 12px;
  height: 215px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 337px;
  bottom:650px;
}

/*THIS IS THE LETTER X*/

.Xleft{
  width: 5px;
  height: 220px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 100px;
  top: -11px;
}

.Xright{
  width: 5px;
  height: 220px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 100px;
  top: -230px;
}

.Xleft2{
  width: 7px;
  height: 220px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 100px;
  top: -11px;
}

.Xright2{
  width: 7px;
  height: 220px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 100px;
  top: -230px;
}

.Xleft3{
  width: 10px;
  height: 220px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 100px;
  top: -11px;
}

.Xright3{
  width: 10px;
  height: 220px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 100px;
  top: -230px;
}

.Xleft4{
  width: 12px;
  height: 220px;
  transform: rotate(27deg);
  background: white
  ;
  position: relative;
  left: 100px;
  top: -11px;
}

.Xright4{
  width: 12px;
  height: 220px;
  transform: rotate(-27deg);
  background: white
  ;
  position: relative;
  left: 100px;
  top: -230px;
}

/*THIS IS THE LETTER K*/

.Kleg{
  height: 200px;
  width: 5px;
  background: white
  ;
}

.Ktop{
  height: 150px;
  width: 5px;
  background: white
  ;
  transform: rotate(45deg);
  position: relative;
  top: -220px;
  left: 52px;
}

.Kbottom{
  height: 140px;
  width: 5px;
  background: white
  ;
  transform: rotate(-45deg);
  position: relative;
  top:  -268px;
  left: 52px;
}


.Kleg2{
  height: 200px;
  width: 7px;
  background: white
  ;
}

.Ktop2{
  height: 150px;
  width: 7px;
  background: white
  ;
  transform: rotate(45deg);
  position: relative;
  top: -220px;
  left: 52px;
}

.Kbottom2{
  height: 140px;
  width: 7px;
  background: white
  ;
  transform: rotate(-45deg);
  position: relative;
  top:  -268px;
  left: 52px;
}

.Kleg3{
  height: 200px;
  width: 10px;
  background: white
  ;
}

.Ktop3{
  height: 150px;
  width: 10px;
  background: white
  ;
  transform: rotate(45deg);
  position: relative;
  top: -220px;
  left: 52px;
}

.Kbottom3{
  height: 140px;
  width: 10px;
  background: white;
  transform: rotate(-45deg);
  position: relative;
  top:  -268px;
  left: 52px;
}

.Kleg4{
  height: 200px;
  width: 12px;
  background: white;
  position: absolute;
  top: 200px;
  left: 1030px;
}

.Ktop4{
  height: 150px;
  width: 12px;
  background: white;
  transform: rotate(45deg);
  position: relative;
  top: -40px;
  left: 1085px;
}

.Kbottom4{
  height: 140px;
  width: 12px;
  background: white;
  transform: rotate(-45deg);
  position: relative;
  top:  -90px;
  left: 1080px;
}

/*THIS IS THE LETTER Y*/

.Yleg{
  height: 220px;
  width: 5px;
  background: white
  ;
  transform: rotate(30deg);
  position: absolute;
  left: 100px;
  top: -10px;
}

.Ytop{
  height: 105px;
  width: 5px;
  background: white
  ;
  transform: rotate(-30deg);
  position: absolute;
  left: 76px;
}

.Yleg2{
  height: 220px;
  width: 7px;
  background: white
  ;
  transform: rotate(30deg);
  position: absolute;
  left: 100px;
  top: -10px;
}

.Ytop2{
  height: 105px;
  width: 7px;
  background: white
  ;
  transform: rotate(-30deg);
  position: absolute;
  left: 76px;
}

.Yleg3{
  height: 220px;
  width: 10px;
  background: white
  ;
  transform: rotate(30deg);
  position: absolute;
  left: 100px;
  top: -10px;
}

.Ytop3{
  height: 105px;
  width: 10px;
  background: white
  ;
  transform: rotate(-30deg);
  position: absolute;
  left: 76px;
}

.Yleg4{
  height: 220px;
  width: 12px;
  background: white
  ;
  transform: rotate(30deg);
  position: absolute;
  left: 100px;
  top: -10px;
}

.Ytop4{
  height: 105px;
  width: 12px;
  background: white
  ;
  transform: rotate(-30deg);
  position: absolute;
  left: 76px;
}

/*THIS IS THE LETTER M*/

.Mleg1{
  width: 3px;
  height: 199px;
  background: white;
  position: absolute;
  top: 1px;
  left: -30px;
}

.Mleft{
  width: 3px;
  height: 145px;
  background: white;
  transform: rotate(-45deg);
  position: absolute;
  top: -20px;
  left: 20px;
}

.Mright{
  width: 3px;
  height: 145px;
  background: white;
  transform: rotate(45deg);
  position: absolute;
  top: -20px;
  left: 120px;
}

.Mleg2{
  width: 3px;
  height: 199px;
  background: white;
  position: absolute;
  left: 170px;
  top: 1px;
}

.Mleg12{
  width: 7px;
  height: 150px;
  background: white;
  position: relative;
  right: 150px;
  margin-top: 100px;
}

.Mleft2{
  width: 7px;
  height: 100px;
  background: white;
  transform: rotate(-45deg);
  position: absolute;
  top: 85px;
  right: 310px;
}

.Mright2{
  width: 7px;
  height: 95px;
  background: white;
  transform: rotate(45deg);
  position: absolute;
  top: 90px;
  right: 245px;
}

.Mleg22{
  width: 7px;
  height: 150px;
  background: white;
  position: absolute;
  right: 210px;
  top: 100px;
}

.Mleg13{
  width: 10px;
  height: 200px;
  background: white
  ;
}

.Mleft3{
  width: 10px;
  height: 150px;
  background: white
  ;
  transform: rotate(-45deg);
  position: absolute;
  top: -25px;
  left: 50px;
}

.Mright3{
  width: 10px;
  height: 145px;
  background: white
  ;
  transform: rotate(45deg);
  position: absolute;
  top: -23px;
  left: 150px;
}

.Mleg23{
  width: 10px;
  height: 200px;
  background: white
  ;
  position: absolute;
  left: 200px;
  top: 0px;
}

.Mleg14{
  width: 12px;
  height: 200px;
  background: white
  ;
}

.Mleft4{
  width: 12px;
  height: 150px;
  background: white
  ;
  transform: rotate(-45deg);
  position: absolute;
  top: -25px;
  left: 50px;
}

.Mright4{
  width: 12px;
  height: 145px;
  background: white
  ;
  transform: rotate(45deg);
  position: absolute;
  top: -20px;
  left: 147px;
}

.Mleg24{
  width: 12px;
  height: 200px;
  background: white
  ;
  position: absolute;
  left: 195px;
  top: 0px;
}

/*THIS IS THE LETTER N*/

.n2{
  position: absolute;
  bottom: 220px;
  right: 100px;
}

.Nleft{
  height: 200px;
  width: 3px;
  background: white;
  z-index: 5;
  position: relative;
  right: 100px;
}

.Nmid{
  height: 255px;
  width: 3px;
  background: white;
  transform: rotate(-35deg);
  position: absolute;
  top: -30px;
  right: 225px;
}

.Nright{
  height: 200px;
  width: 3px;
  background: white;
  position: absolute;
  right: 150px;
  top: 0px;
}

.Nleft2{
  height: 150px;
  width: 7px;
  background: white;
  position: relative;
  right: 470px;
  margin-top: 100px;
}

.Nmid2{
  height: 175px;
  width: 7px;
  background: white;
  transform: rotate(-35deg);
  position: absolute;
  bottom: -60px;
  right: 610px;

}

.Nright2{
  height: 150px;
  width: 7px;
  background: white;
  position: absolute;
  right: 560px;
  bottom: -45px;

}

.Nleft3{
  height: 200px;
  width: 10px;
  background: white
  ;
}

.Nmid3{
  height: 275px;
  width: 10px;
  background: white;
  transform: rotate(-45deg);
  position: absolute;
  top: -39px;
  left: 97px;
}

.Nright3{
  height: 200px;
  width: 10px;
  background: white;
  position: absolute;
  left: 195px;
  top: 0px;
}

.Nleft4{
  height: 200px;
  width: 12px;
  background: white;
  position: absolute;
  right: 300px;
}

.Nmid4{
  height: 230px;
  width: 12px;
  background: white;
  transform: rotate(-35deg);
  position: absolute;
  top: -19px;
  left: -50px;
}

.Nright4{
  height: 200px;
  width: 12px;
  background: white;
  position: absolute;
  left: 15px;
  top: 0px;
}


/*THIS IS THE LETTER Z*/

.Ztop{
  width: 200px;
  height: 5px;
  background: white
  ;
}

.Zmid{
  width: 5px;
  height: 280px;
  background: white
  ;
  transform: rotate(45deg);
  position: absolute;
  left: 100px;
  top: -40px;
}

.Zbottom{
  width: 200px;
  height: 5px;
  background: white
  ;
  position: absolute;
  top: 195px;
}

.Ztop2{
  width: 200px;
  height: 7px;
  background: white
  ;
}

.Zmid2{
  width: 7px;
  height: 280px;
  background: white
  ;
  transform: rotate(45deg);
  position: absolute;
  left: 100px;
  top: -40px;
}

.Zbottom2{
  width: 200px;
  height: 7px;
  background: white;
  position: absolute;
  top: 195px;
}

.Ztop3{
  width: 200px;
  height: 10px;
  background: white;
}

.Zmid3{
  width: 10px;
  height: 280px;
  background: white;
  transform: rotate(45deg);
  position: absolute;
  left: 100px;
  top: -40px;
}

.Zbottom3{
  width: 200px;
  height: 10px;
  background: white;
  position: absolute;
  top: 195px;
}

.Ztop4{
  width: 150px;
  height: 12px;
  background: white;
  position: absolute;
  right: 225px;
}

.Zmid4{
  width: 12px;
  height: 245px;
  background: white;
  transform: rotate(35deg);
  position: absolute;
  right: 295px;
  top: -15px;
}

.Zbottom4{
  width: 150px;
  height: 12px;
  background: white;
  position: absolute;
  top: 195px;
  right: 225px;
}

/*THIS IS THE LETTER S*/

.Stop{
  width: 97px;
  height: 97px;
  border: 3px white solid;
  border-radius: 100%;
  background: #A1D3F8;
}

.Sbottom{
  width: 97px;
  height: 97px;
  border: 3px white solid;
  border-radius: 100%;
  background: #A1D3F8;
  position: absolute;
  bottom: 11px;
}

.Smasktop{
  width: 60px;
  height:60px;
  background: #A1D3F8;
  position: absolute;
  left: 61px;
  bottom: 106px;
}

.Smaskbottom{
  width: 60px;
  height:60px;
  background: #A1D3F8;
  position: absolute;
  left: -11px;
  bottom: 45px;
}

.Stop2{
  width: 75px;
  height: 75px;
  border: 7px white solid;
  border-radius: 100%;
  background: #FBEA8A;
  margin-top: 100px;
}

.Sbottom2{
  width: 75px;
  height: 75px;
  border: 7px white solid;
  border-radius: 100%;
  background: #FBEA8A;

}

.Smasktop2{
  width: 50px;
  height:30px;
  background: #FBEA8A;
  position: absolute;
  left: 45px;
  bottom: 33px;

}

.Smaskbottom2{
  width: 50px;
  height:30px;
  background: #FBEA8A;
  position: absolute;
  left: -10px;
  bottom: -11px;
}

.Stop3{
  width: 85px;
  height: 85px;
  border: 10px white
   solid;
  border-radius: 100%;
  background: white;
}

.Sbottom3{
  width: 85px;
  height: 85px;
  border: 10px white
   solid;
  border-radius: 100%;
  background: white;
  position: absolute;
  bottom: 1px;
}

.Smasktop3{
  width: 60px;
  height:60px;
  background: white;
  position: absolute;
  left: 65px;
  bottom: 105px;
}

.Smaskbottom3{
  width: 60px;
  height:60px;
  background: white;
  position: absolute;
  left: 0px;
  bottom: 35px;
}

.Stop4{
  width: 115px;
  height: 115px;
  border: 12px white solid;
  border-radius: 100%;
  background: #040A23;
  margin: -10px;
  position: relative;
  right: 30px;
}

.Sbottom4{
  width: 115px;
  height: 115px;
  border: 12px white solid;
  border-radius: 100%;
  background: #040A23;
  position: absolute;
  right: 125px;

}

.Smasktop4{
  width: 60px;
  height:60px;
  background: #040A23;
  position: absolute;
  left: 20px;
  bottom: 108px;
}

.Smaskbottom4{
  width: 60px;
  height:60px;
  background: #040A23;
  position: absolute;
  left: -40px;
  bottom: 33px;
}



