*{box-sizing: border-box;}

html,body, .background{height: 100%; }

body{
	padding: 0;
	margin: 0;
}

.background{
	background: #0000ff;
	z-index: -1;
	padding: 0;
	margin: 0;
	position: fixed;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
}

.background-black{
	background-color: black;
	z-index: -1;
	padding: 0;
	margin: 0;
	display: none;
	position: fixed;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
}

.background-jobs{
	width: 100%;
	height: 100%;
	background: #0F0;
	z-index: 1;
	padding: 0;
	margin: 0;
	position: fixed;
	display: none;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
}

.pick{
	padding: 0;
	margin: 0 auto;
	position: absolute;	
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	z-index: 8;
	font-size: 48px;
	font-family: Courier;
	text-align: center;
	line-height: 14px;
	display: none;
}

.pick-jobs{
	padding: 0;
	margin: 0 auto;
	position: absolute;	
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #000;
	z-index: 8;
	font-size: 48px;
	font-family: Courier;
	text-align: center;
	line-height: 14px;
}

.choices{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	width: 80%;
	height: 33%;
	z-index: 7;
	cursor: pointer;
	display: none;
}

.choice{
	border: #fff solid 4px;
	width: 24.7%;
	height: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.one{
	background: url(../img/choice1.png) no-repeat center;
	background-size: 75%;
}

.two{
	background: url(../img/choice2.png) no-repeat center;
	background-size: 65%;
}

.three{
	background: url(../img/choice3.png) no-repeat center;
	background-size: 58%;	
}

.four{
	background: url(../img/choice4.png) no-repeat center;
	background-size: 70%;
}

.line{
	width: 100%;
	height: 100%;
	background: url(../img/line.png) no-repeat center;
	background-size: 100%;
	z-index: 3;
	position: fixed;
	opacity: .5;
}

.heading{
	padding: 0;
	margin: 0 auto;
	position: absolute;	
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	z-index: 8;
	font-size: 48px;
	font-family: Courier;
	text-align: center;
	line-height: 48px;
}

.text{
	padding: 0;
	margin: 0 auto;
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	z-index: 8;
	font-size: 24px;
	font-family: Courier;
	text-align: center;
	line-height: 24px;
}

.back{
	padding: 0;
	margin: 0 auto;
	position: absolute;	
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	z-index: 8;
	font-size: 12px;
	font-family: Courier;
	text-align: center;
	line-height: 14px;
	cursor: pointer;
}


.heading2{
	padding: 0;
	margin: 0 auto;
	position: absolute;	
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #000;
	z-index: 8;
	font-size: 48px;
	font-family: Courier;
	text-align: center;
	line-height: 48px;
}

.text2{
	padding: 0;
	margin: 0 auto;
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #000;
	z-index: 8;
	font-size: 24px;
	font-family: Courier;
	text-align: center;
	line-height: 24px;
}

.back2{
	padding: 0;
	margin: 0 auto;
	position: absolute;	
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #000;
	z-index: 8;
	font-size: 12px;
	font-family: Courier;
	text-align: center;
	line-height: 14px;
	cursor: pointer;
}

.jobs{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	width: 80%;
	height: 33%;
	z-index: 7;
	cursor: pointer;
}

.job{
	border: #000 solid 4px;
	width: 24.7%;
	height: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.traveling {
	width: 100%;
	height: 100%;
	background: #0000ff;
	z-index: 5000;
	position: fixed;
	top: 0;
	left: 0;
}

.traveling.hide { display: none; }

a:link{
	color: #fff;
	text-decoration: underline;
}

a:visited{
	color: #fff;
	text-decoration: none;	
}

.red{
	width: 15%;
	height: 15%;
	background: #F00;
	border-radius: 17px;
	z-index: 10;
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%);
	font-family: Courier;
	text-align: center;
	color: #F00;
	line-height: 21px;
	font-size: 20px;
}

.red:hover{
	background: none;
	border: 3px solid red;
}

.arrived{display: none;}

.deported{display: none;}

.crossed{display: none;}

.caught{display: none;}

.swimming{display: none;}

.stopped{display: none;}

.flying{display: none;}

.staying{display: none;}

.accepted{display: none;}

.rejected{display: none;}

.cooking{display: none;}

.waiting{display: none;}

.limpiando{display: none;}

.saliendo{display: none;}

.constructing{display: none;}

.not{display: none;}






